################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BertLunch
/matomo
/BertLunch/appsettings.json
/BertLunch/wwwroot/img/
