@using Model;
@{}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" id="profile" asp-page="Profile">Profile</a></li>
    <li class="nav-item"><a class="nav-link" id="email" asp-page="Command">Mes Commandes</a></li>
</ul>
