@page
@model BertLunch.Pages.Account.Manage.CommandModel
@{
    ViewData["Title"] = "Mes commandes";
}
<style>
    body {
        background: rgba(131,140,144,0.4);
    }
</style>

<main class="container-fluid">
    <div class="row account">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <section class="col-9 ">
        </section>
    </div>
</main>