@page
@using BertLunch.Pages.ProfileView.Account.Manage;
@using Microsoft.AspNetCore.Identity.UI.V5.Pages.Account.Manage.Internal;
@model ProfileModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: rgba(131,140,144,0.4);
        ;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }


</style>

<main class="container-fluid">
    <div class="row account-section">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <section class="col-9">
            <div class="container pt-4">
                <h4 class="account-heading">Personal Data</h4>
            </div>
            
            <div class="row">
                <div class="col-12 py-3">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <i class="fa-solid fa-envelope account-icon"></i>
                        </div>
                        <div class="col-md-6">
                            <div class="account-info">
                                <p>Email: <span class="email-text">@Model.BertUser.Email</span></p>
                                <p>Name: <span class="name-text">@Model.BertUser.Psuedo</span></p>
                            </div>
                        </div>
                        <div class="col-md-3 account-action">
                            <button type="button" class="btn btn-account btn-modify" data-bs-toggle="modal" data-bs-target="#editEmailModal">
                                Modify
                            </button>
                        </div>
                    </div>
                </div>
                <div class="horizontal_line col-12"></div>
                
                <div class="col-12 py-3">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <i class="fa-solid fa-shield-halved account-icon"></i>
                        </div>
                        <div class="col-md-6">
                            <div class="account-info">
                                <p>Password: ************</p>
                            </div>
                        </div>
                        <div class="col-md-3 account-action">
                            <button type="button" class="btn btn-account btn-modify">
                                Modify
                            </button>
                        </div>
                    </div>
                </div>
                <div class="horizontal_line col-12"></div>
                <div class="col-12 account-action py-3">
                    <button type="button" class="btn btn-account btn-delete" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
                        Delete Account
                    </button>
                </div>

            </div>
        </section>
    </div>
</main>

@* <main class="container">
    <div class="row account-section">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-9">
            <h2 class="account-heading">Personal Data</h2>
        </div>
        <div class="col-md-3 text-center">
            <i class="fa-solid fa-envelope account-icon"></i>
        </div>
        <div class="col-md-6">
            <div class="account-info">
                <p>Email: <span class="email-text">user@example.com</span></p>
                <p>Name: <span class="name-text">Jane Doe</span></p>
            </div>
        </div>
        <div class="col-md-3 account-action">
            <button type="button" class="btn btn-account btn-modify" data-bs-toggle="modal" data-bs-target="#editEmailModal">
                Modify
            </button>
        </div>
        <hr class="col-12">
        <div class="col-md-3 text-center">
            <i class="fa-solid fa-shield-halved account-icon"></i>
        </div>
        <div class="col-md-6">
            <div class="account-info">
                <p>Password: ************</p>
            </div>
        </div>
        <div class="col-md-3 account-action">
            <button type="button" class="btn btn-account btn-modify">
                Modify
            </button>
        </div>
        <hr class="col-12">
        <div class="col-12 account-action">
            <button type="button" class="btn btn-account btn-delete" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
                Delete Account
            </button>
        </div>
    </div>
</main> *@

<!-- Modals for actions -->
<!-- Modal for editing email -->
<div class="modal fade" id="editEmailModal" tabindex="-1" aria-labelledby="editEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-content-account">
            <div class="modal-header">
                <h5 class="modal-title" id="editEmailModalLabel">Change Email Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form content here -->
            </div>
        </div>
    </div>
</div>

<!-- Modal for deleting account -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-content-account">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAccountModalLabel">Confirm Account Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form content here -->
            </div>
        </div>
    </div>
</div>

                        
<!-- Modal -->
@* <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete account</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you wish to delete this account?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn w-25 btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="{{path('delete_user')}}" class="btn w-25 btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div> *@