@media (max-width: 767px) {
    .mobile_menu {
        position: absolute;
        right: 0px;
        width: 100%;
        z-index: 999;
        color: #fff;
    }
    .header-area {
        padding-top: 0;
    }

    .header-area .main-header-area .logo {
        text-align: left;
    }
    .header-area .main-header-area .logo img {
        width: 40px;
    }
    .slider_area .single_slider {
        height: auto;
    }
    .header-area .main-header-area .main-menu ul li a i {
        display: none !important;
    }
    .slider_area .single_slider .slider_text {
        margin: 100px 0 50px 0;
    }
    .slider_area .single_slider .slider_text h3 {
        font-size: 30px;
        line-height: 45px;
    }
    
    /** ABOUT SECTION **/
    .about_area {
        padding-top: 40px;
        padding-bottom: 40px
    }
    .about_area .about_info a {
        margin-bottom: 30px
    }

    /**=== MENU SECTION STYLES =====*/
    .Delicious_area {
        padding-bottom: 50px;
        padding-top: 70px;
    }
    .section_title h3 {
        font-size: 30px;
        line-height: 36px;
    }
    .Delicious_area .tablist_menu .nav li {
        margin: 0 4px;
    }
    .Delicious_area .single_delicious {
        display: block !important;
    }
    .Delicious_area .single_delicious .info {
        padding-left: 0;
        margin-bottom: 15px;
        margin-top: 20px;
    }

    /*=== MENU SECTION STYLES ENDS =====*/

}