<!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        <img src="~/img/Logos/transparent background/All_white.png" alt="logo">
                    </a>
                    <p>
                        Bienvenue à la cantine BertLunch,
                        où nous servons des plats frais et délicieux
                        pour stimuler votre journée de travail.
                    </p>
                    <div class="footer_social">
                        <a href="">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="">
                            <i class="fa-brands fa-pinterest"></i>
                        </a>
                        <a href="">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 footer-col">
                <div class="footer_center">
                    <h4>Contactez-nous</h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                8 Rue de la rivière <br>
                                67200, Strasbourg
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>+33 94 429 343</span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>johndoe@gmail.com</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 footer-col">
                <div class="footer_center">
                    <h4>Heures d'ouverture</h4>
                    <p>Du lundi au vendredi</p>
                    <p>10h00 - 13h00</p>
                </div>
            </div>
            <div class="col-md-3 footer-col">
                <div class="footer_center">
                    <h4>Politiques de la cantine</h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa-solid fa-circle"></i>
                            <span>Données personnelles</span>
                        </a>
                        <a href="">
                            <i class="fa-solid fa-circle"></i>
                            <span>Politiques sur les cookies</span>
                        </a>
                        <a href="">
                            <i class="fa-solid fa-circle"></i>
                            <span>Mentions légales</span>
                        </a>
                        <a href="">
                            <i class="fa-solid fa-circle"></i>
                            <span>CGV</span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="#">create by Cw Bertrand</a><br><br>
            </p>
        </div>
    </div>
</footer>
<!-- footer section-->