@using Microsoft.AspNetCore.Identity
@using Model

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<style>
    
</style>

@if (SignInManager.IsSignedIn(User))
{

    <a id="manage" class="nav-link text-dark" style="color: #fff !important;" asp-page="/Account/Manage/Profile" title="Manage">Profil</a>

    <form id="logoutForm" class="form-inline" asp-page="/Account/Security/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
}
else
{
    <a class="nav-link text-white" id="register" asp-page="/Account/Security/Register">Register</a>
    <a class="nav-link text-white" id="login" asp-page="/Account/Security/Login">Login</a>
}
