@using Microsoft.AspNetCore.Identity
@using Model

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<style>
    button#logout {
        text-align: end;
        width: 100%;
        color: #fff !important;
    }

    button#logout:hover,
    a#manage:hover {
        background: #1A0D01;
        transition: ease .3s;
    }
</style>

@if (SignInManager.IsSignedIn(User))
{

    <a id="manage" class="nav-link text-dark" style="color: #fff !important;" asp-area="Identity" asp-page="/ProfileView/Account/Manage/Index" title="Manage">Profil</a>

    <form id="logoutForm" class="form-inline" asp-page="/ProfileView/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
}
else
{
        <a class="nav-link text-dark" id="register" asp-page="/ProfileView/Account/Register">Register</a>
    <a class="nav-link text-dark" id="login" asp-page="/ProfileView/Account/Login">Login</a>
}
